# -*- coding: utf-8 -*-
"""
Created on Tue Aug 10 11:38:39 2021

@author: sush1
"""

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="Main">
	<h1>Air Quality Index Predictor</h1>
	
	<table>
 <tbody>
  {% for item in prediction%}
    <tr><td>{{item}}</td></tr>
    {% endfor %}
 </tbody>
</table>

     <!-- Main Input For Receiving Query to our ML -->
   <!-- <form action="{{ url_for('predict')}}"method="post">-->
    	<!-- <input type="text" name="experience" placeholder="Experience" required="required" /> -->
        <!-- <input type="text" name="test_score" placeholder="Test Score" required="required" />-->
		<!-- <input type="text" name="interview_score" placeholder="Interview Score" required="required" />-->

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>